.container {
  padding: 20px 50px;
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

h1 {
  color: var(--blue);
  margin-bottom: 20px;
  font-size: 50px;
}

/* TAB */
.tab {
  overflow: hidden;
  border-bottom: 1px solid var(--gray);
}

/* CONTENT */
.content-items {
  border: 1px solid var(--gray);
  border-radius: 5px;
  height: 65vh;
  overflow: scroll;
}

/* LABEL */
.labels {
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr 1fr 1fr 2fr 0.5fr;
  padding-left: 10px;
}

.label {
  line-height: 1.5;
}
