.container {
  padding: 20px 50px;
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

h1 {
  color: var(--blue);
  margin-bottom: 20px;
  font-size: 60px;
}

/* TAB */
.tab {
  overflow: hidden;
  border-bottom: 1px solid var(--gray);
}

.tabLinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  transition: 0.3s;
  text-align: left;
  font-size: var(--text-regular);
  font-weight: bold;
  color: var(--darkgray);
  width: auto;
  border-bottom: 3px solid transparent;
}

.tabLinks:hover {
  color: var(--blue);
}

.tabLinks.active {
  color: var(--blue);
  border-bottom: 3px solid var(--blue);
  overflow: hidden;
}

/* CONTENT */
.content {
  padding-top: 40px;
}

.content-items {
  border: 1px solid var(--gray);
  border-radius: 5px;
  height: 65vh;
  overflow: scroll;
}

/* LABEL */
.labels {
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr 1fr;
  padding-left: 10px;
}

.label {
  line-height: 1.5;
}
