/* TASK INFO */
.info {
  line-height: 1.5;
  display: grid;
  /* grid-template-columns: 4fr 2fr 1.5fr 2fr 1fr; */
  grid-template-columns: 3fr 2fr 1fr 1fr 1fr 1fr 2fr 0.5fr;
  border-bottom: 1px solid var(--gray);
}

.info:nth-child(even) {
  background-color: white;
}

.info:nth-child(odd) {
  background-color: var(--lightblue);
}

.info:hover {
  background-color: var(--lightgray);
  cursor: pointer;
}

.infoDetails {
  padding: 15px 10px;
}

/* ICON */
.icon {
  align-self: center;
  justify-self: center;
  /* border: 1px solid red; */
  /* margin-left: 10px; */
}

/* STATUS */
.status-closed {
  color: red;
}

.status-open {
  color: blue;
}
