/* TASK INFO */
.info {
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr 1fr;
  border-bottom: 1px solid var(--lightgray);
}

.info:hover {
  background-color: #f1f1f1;
}

.infoDetails {
  padding: 15px 10px;
}

/* STATUS */
.status-closed {
  color: red;
}

.status-open {
  color: blue;
}
