.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  background-color: white;
  position: fixed;
  height: auto;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 100;
  overflow: hidden;
  padding: 40px 60px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto 1fr auto;
}

.company-info {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: auto 1fr;
}

.company-info img {
  width: 80px;
}

.company-name {
  font-size: 20px;
  font-weight: bold;
}

.details {
  grid-column: 2;
  grid-row: 1;
}

.selection {
  grid-column: 1;
  grid-row: 2;
}

.shifts {
  grid-column: 2;
  grid-row: 2;
}

.shift {
  border: 1px solid var(--gray);
}
