:root {
  --blue: rgb(54, 129, 238);
  --lightblue: rgb(241, 243, 248);
  --darkgray: rgb(77, 79, 85);
  --gray: rgb(175, 178, 188);
  --lightgray: rgb(241, 241, 241);
  --text-regular: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  color: var(--darkgray);
  font-size: var(--text-regular);
}
